@import 'tailwindcss';

body {
  font-family: Fira Sans, sans-serif;
}

.mapboxgl-popup-content {
  padding: 0 !important;
}

.mapboxgl-popup-close-button {
  position: relative !important;
}

text {
  font: 12px 'Fira Sans', sans-serif;
}

body {
  @apply bg-gray-950 text-white;
}
