@import 'tailwindcss';

body {
  font-family: Fira Sans, sans-serif;
}

.mapboxgl-popup-content {
  padding: 0 !important;
}

.mapboxgl-popup-close-button {
  position: relative !important;
}

text {
  font: 12px 'Fira Sans', sans-serif;
}

body {
  @apply bg-gray-950 text-white;
}

.button {
  @apply hover:cursor-pointer;
}

.paper {
  @apply bg-gray-800 text-white shadow-2xl;
}

.map-content-title {
  @apply text-lg font-semibold;
}

.map-content-description-wrapper {
}

.divider {
  @apply border-gray-400;
}
